@mixin rem-baseline($zoom: 100%) {
  font-size: $zoom / 16px * $rem-baseline;
}

@mixin rem($properties, $values...) {
  @if type-of($properties) == "map" {
    @each $property in map-keys($properties) {
      @include rem($property, map-get($properties, $property));
    }
  } @else {
    @each $property in $properties {
      @if $rem-fallback or $rem-px-only {
        #{$property}: rem-convert(px, $values...);
      }
      @if not $rem-px-only {
        #{$property}: rem-convert(rem, $values...);
      }
    }
  }
}

@mixin circle($d) {
  width: rem($d);
  height: rem($d);
  -webkit-border-radius: rem($d/2);
  -moz-border-radius: rem($d/2);
  border-radius: rem($d/2);
}

@mixin border-radius($val: 0) {
  -webkit-border-radius: $val;
  -moz-border-radius: $val;
  border-radius: $val;
}
