<main class="full-layout-display background__layout">
    <div class="menu__wrapper">
        <div class="spacing--vertical-1"></div>
        <header class="menu">
            <div class="spacing--vertical-1"></div>
            <div class="menu__item" routerLink="/home" routerLinkActive="menu__item--active">Home</div>
            <div class="spacing--vertical-1"></div>
            <div class="menu__item" routerLink="/testimonials" routerLinkActive="menu__item--active">Testimonials</div>
            <div class="spacing--vertical-1"></div>
            <div class="menu__item" routerLink="/contact" routerLinkActive="menu__item--active">Contact</div>
            <div class="spacing--vertical-1"></div>
        </header>
        <div class="spacing--vertical-1"></div>
    </div>

    <router-outlet></router-outlet>
</main>
