<section class="page-testimonials">
  <section class="page-testimonials__content">
    <section class="page-testimonials__body">
      <div class="page-testimonials__items">
        <div class="testimonial__wrapper">
          <div class="spacing--horizontal-2 spacing--vertical-1"></div>
          <article class="testimonial">
            <div class="testimonial__image-container">
              <img class="testimonial__image" src="assets/testimonials/wolverine.png" alt="testimonial" />
            </div>
            <div class="spacing--vertical-1"></div>
            <span class="testimonial__name">Unknown</span>
            <div class="spacing--vertical-2"></div>
            <span class="testimonial__description">
              <p>Me ha gustado el curso.</p>
              <p>Espero que se haga la continuación</p>
            </span>
            <div class="spacing--vertical-2"></div>
          </article>
          <div class="spacing--horizontal-2 spacing--vertical-1"></div>
        </div>
        <div class="testimonial__wrapper">
          <div class="spacing--horizontal-2 spacing--vertical-1"></div>
          <article class="testimonial">
            <div class="testimonial__image-container">
              <img class="testimonial__image" src="assets/testimonials/daredevil.png" alt="testimonial" />
            </div>
            <div class="spacing--vertical-1"></div>
            <span class="testimonial__name">Unknown</span>
            <div class="spacing--vertical-2"></div>
            <span class="testimonial__description">
              <p>Me ha gustado el curso.</p>
              <p>Espero que se haga la continuación</p>
            </span>
            <div class="spacing--vertical-2"></div>
          </article>
          <div class="spacing--horizontal-2 spacing--vertical-1"></div>
        </div>
        <div class="testimonial__wrapper">
          <div class="spacing--horizontal-2 spacing--vertical-1"></div>
          <article class="testimonial">
            <div class="testimonial__image-container">
              <img class="testimonial__image" src="assets/testimonials/batman.png" alt="testimonial" />
            </div>
            <div class="spacing--vertical-1"></div>
            <span class="testimonial__name">Unknown</span>
            <div class="spacing--vertical-2"></div>
            <span class="testimonial__description">
              <p>Me ha gustado el curso.</p>
              <p>Espero que se haga la continuación</p>
            </span>
            <div class="spacing--vertical-2"></div>
          </article>
          <div class="spacing--horizontal-2 spacing--vertical-1"></div>
        </div>
      </div>
    </section>
    <section class="page-testimonials__footer">
      <div class="logo-image">
        <img class="logo-image__image" src="/assets/branding/logo.png" alt="logo">
      </div>
    </section>
  </section>
</section>
