<div class="page-home">
  <section class="page-home__content">
    <section class="page-home__body">
      <h1 class="page-home__title bold">Apium Academy</h1>
      <div class="spacing--vertical-2"></div>
      <h3 class="page-home__subtitle">Frontend course</h3>
    </section>

    <section class="page-home__footer">
      <section class="page-home__footer--empty"></section>
      <section class="time__wrapper">
        <section class="time">
          <div class="time__hour">
            <p class="time__text">Hour: <span class="time__value bold">{{ time | date:'shortTime' }}</span></p>
          </div>
        </section>
      </section>
      <section class="geolocation__wrapper">
        <section class="geolocation">
          <div class="geolocation__city">
            <p class="geolocation__text">Place: <span class="geolocation__value bold">Barcelona</span></p>
          </div>
        </section>
      </section>
      <div class="spacing--vertical-1"></div>
    </section>
  </section>
</div>
